:root {
  --bg: #e5e5e5;
  --bg-primary: #00d411;
  --bg-positive: #b0ffce;
  --text-1: #fff;
  --text-2: #d9dbe1;
  --text-3: #a9a9a9;
  --text-primary: #00d411;
  --elevation-1: 1px 5px 10px rgba(0 0 0 10%);
  --overlay-hover: rgba(0 0 0 5%);
  --fs-300: 1.4rem;
  --fs-400: 1.6rem;
  --fs-500: 1.8rem;
  --br-md: 10px;
  --container-width: 144rem;
}
