.bg-100 {
  background-color: var(--bg-1);
}

.bg-200 {
  background-color: var(--bg-2);
}

.bg-secondary-100 {
  background-color: var(--bg-secondary-1);
}

.bg-primary {
  background-color: var(--bg-primary);
}

.bg-primary-light {
  background-color: var(--bg-primary-light);
}

.text-1 {
  color: var(--text-1);
}

.text-2 {
  color: var(--text-2);
}

.text-3 {
  color: var(--text-3);
}

.text-secondary-1 {
  color: var(--text-secondary-1);
}

.text-primary {
  color: var(--text-primary);
}
