@use "../abstracts" as *;

.even-columns {
  display: grid;
  gap: 3.6rem;
}

.vertical-align-center {
  align-items: center;
}

.horizontal-align-center {
  justify-items: center;
}

.justify-self-end {
  justify-self: end;
}

@include mq(small) {
  .even-columns {
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
  }
}

.container {
  --max-width: 67.5em;
  --container-padding: 1.6rem;

  width: min(var(--max-width), 100% - (var(--container-padding) * 2));
  margin-inline: auto;
}

.container-content {
  --max-width: 62.5em;
  --container-padding: 1.6rem;

  width: min(var(--max-width), 100% - (var(--container-padding) * 2));
  margin-inline: auto;
}

:where(.flow :not(:first-child)) {
  margin-top: var(--flow-spacer, 2em) !important;
}

.text-center {
  text-align: center;
}

@include mq-max(small) {
  .text-center-sm-only {
    text-align: center;
  }
}

.display-sm-only {
  display: block;

  @include mq(small) {
    display: none;
  }
}

.display-sm-and-up {
  display: none;

  @include mq(small) {
    display: block;
  }
}

.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.center-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
