@use "../abstracts" as *;

body {
  font-family: Ubuntu, system-ui, sans-serif;
  font-size: var(--fs-400);
  font-weight: 400;
}

h1,
h2,
h3,
h4 {
  line-height: 1;
}

.title {
  margin-bottom: 3.5rem;
}
