@use "../abstracts" as *;
@import "https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap";

body {
  color: var(--text-1);
  font-family: Poppins, system-ui, sans-serif;
  font-size: var(--fs-400);
  font-weight: 400;
}

h1,
h2,
h3,
h4 {
  line-height: 1.1;
}

p {
  max-width: 35ch;
}

p.wide {
  max-width: 55ch;
}
